.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.home {
  width: 200px;
  height: 200px;
  background-color: aqua;
  margin: 20px;
}

.carousel {
  width: 80%;
  height: 300px;
  margin: 50px auto;
}