.app {
  background-color: blue;
  width: 100%;
  height: 690px;
  position: fixed;
}

.home {
  width: 34vw;
  height: 600px;
  background-color: aqua;
}

.carousel-container {
  background-color: pink;
  width: 50%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 50%;
  height: 500px;
  margin: 0 auto;
}